<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4rem","right":"2rem","bottom":"4rem","left":"2rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:4rem;padding-right:2rem;padding-bottom:4rem;padding-left:2rem">
	<!-- wp:post-title {"level":1,"textColor":"dark-teal"} /-->

	<!-- wp:post-featured-image {"sizeSlug":"heyazah-featured","style":{"spacing":{"margin":{"top":"2rem","bottom":"2rem"}}}} /-->

	<!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
